.myClass {
    background-color: seashell;
    border-style: solid;
    border-width: 1px;
    border-color: slategray;
    /* box-shadow: 0 0 10px; */
    min-height: 50px;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 3px;;
}

.messageBox {
    background-color: white;
    padding: 0.5rem;
}


body {
    font-family: sans-serif;
}

button {
    padding: 0.5em;
    box-shadow: 0 0;
}